/*header*/

header nav:first-child {
  margin: 0 auto;
  min-height: 40px;
  max-height: 40px;
  background: white;
}

header nav:first-child div div {
  padding: 10px 0;
}

header nav:nth-child(2) {
  background: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 0 auto;
}

header nav:nth-child(2) a.navbar-brand {
  padding: 5px 0;
}

@media all and (max-width: 1200px) {
  header nav:nth-child(2) {
    background: #0248ff;
  }
}

/*main*/

/*mast*/

#mast {
  background: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg) no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 500px;
}

@media all and (max-width: 1200px) {
  #mast {
    background: #0248ff
  }
}

/*prima colonna*/

#mast .row div:first-child {
  color: white;
  font-size: 3rem;
  margin: 7% 5%;
}

/*seconda colonna*/

#mast .row div:nth-child(2) {
  background: white;
  margin: 7% 5%;
  vertical-align: middle;
  border-radius: 5px;
  width: 30%;
}

#mast .row div:nth-child(2) .input-group {
  width: 90%;
}

#mast .row div:nth-child(2) button {
  width: 100%;
}

#mast .row div:nth-child(2) .input-group * {
  margin: 10px auto;
}


/*partners*/
#partners {
  background: #f3f5f9;
}

#partners  .hidden-md img{
  width: 70%;
  height: 150px;
}

#partners .hidden-xs div{
  display: inline-block;
  width: calc(100% / 7);
}
#partners .hidden-xs img{
  width: 120px;
  height: 100px;
}

/*features*/

/*riduco dimensioni container*/

#features .features-container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}